.resultSquare {
  width: 45px; /* Ancho del cuadro azul */
  height: 35px; /* Altura del cuadro azul */
  background-color: #007bff; /* Color azul */
  border-radius: 5px; /* Borde redondeado */
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
