.resultSquare {
  width: 45px;
  height: 35px;
  background-color: #007bff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
