/* .container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333; 
}


aquest fastiava a l'altre...

p {
  margin: 0;
  text-align: center; 
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
} */
