.container {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  color: rgb(2, 1, 0);
}

.headerRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.title {
  flex-basis: 70%;
  text-align: left;
}

.date {
  flex-basis: 20%;
  text-align: left;
}

.duration {
  flex-basis: 10%;
  text-align: center;
}
