.row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  /* border-bottom: 1px solid #ccc; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 30px;
  align-items: center;
}

.title {
  flex-basis: 70%;
  text-align: left;
  color: rgb(24, 84, 116);
}

.date {
  flex-basis: 20%;
  text-align: left;
  color: rgb(2, 1, 0);
}

.duration {
  flex-basis: 10%;
  text-align: center;
  color: rgb(2, 1, 0);
}

.link {
  text-decoration: none;
}

.blueBackground {
  background-color: rgb(226, 234, 237);
}
