.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffeff; /* Color de fondo azul */
  padding: 10px 20px; /* Ajusta el espaciado según tus necesidades */
  height: 50px;
}

.navLeft {
  flex: 1; /* Para ocupar el espacio disponible y alinear a la izquierda */
}

.navRight {
  margin-left: 10px; /* Espacio entre el texto y el spinner */
}

.nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(86, 138, 201);
  font-size: x-large;
  font-weight: bold;
}
