.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffeff;
  padding: 10px 20px;
  height: 50px;
}

.navLeft {
  flex: 1;
}

.navRight {
  margin-left: 10px;
}

.nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(86, 138, 201);
  font-size: x-large;
  font-weight: bold;
}
