.container {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.name {
  flex-basis: 40%;
  text-align: left;
}

.description {
  flex-basis: 40%;
  text-align: left;
}

.duration {
  flex-basis: 20%;
  text-align: left;
}
