.container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultsSearchContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre Results/SearchPodcasts y la lista de podcasts */
}

/* Nueva clase para el diseño de la cuadrícula */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre filas */
}

/* Ajustamos el ancho de los elementos para mostrar 4 por fila */
/* 25% para 4 elementos por fila */
/* Puedes ajustar el ancho según el espacio disponible y tus preferencias */
.li {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  /* Evita que el contenido exceda el ancho del elemento */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
