/* Estilos para la imagen redondeada */
img {
  border-radius: 50%;
}

/* Estilos para el 'name' en negrita y en mayúsculas */
h3:nth-of-type(3) {
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilos para el 'author' en gris claro */
h3:nth-of-type(4) {
  color: lightgray;
}

/* Estilos para mostrar 4 imágenes por fila */
/* AQUEST posar-ho en un altre css! */
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  width: 25%; /* Ajusta el ancho según tus necesidades */
  padding: 10px;
  box-sizing: border-box;
}
