.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.pageNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  /* padding: 10px; */
}

.podcast {
  grid-column: 1;
  margin-top: 100px;
  padding-left: 20px;
}

.episodeview {
  grid-column: 2;
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 100px;
}
