.li {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  text-decoration: none;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #333;
}
.li {
  margin: 5px;
  text-decoration: none;
}

.img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.author {
  font-style: italic;
}

.name {
  margin: 5px 0;
  font-weight: bold;
}
