.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.results {
  margin-right: 20px;
}

.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  list-style: none;
}
