.spinnerContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
}

.spinner {
  border: 3px solid #2b7bcf;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
